@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 36px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

p {
	float: left;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.oculto {
	visibility: hidden;
}

.menulinhavertical {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.menulinhavertical li {
	margin-bottom: 10px;
	padding: 1em;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3e67b1;
	border-radius: 10px;
	background-color: #eaebee;
}

.menulinhavertical a {
	color: #3e67b1;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menulinhahorizontal {
	margin: 0px;
	padding: 1em;
	list-style: none;
	text-align: center;
}

.menulinhahorizontal li {
	display: inline;
	margin-right: 1px;
	padding: 1em;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3e67b1;
	border-radius: 10px;
	background-color: #eaebee;
}

.menulinhahorizontal a {
	color: #3e67b1;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#cabecalho {
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #3e67b1;
	color: #ffffff;
	float: left;
}

#barraAcessibilidade {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 2em;
	padding-left: 1em;
	float: left;
	text-align: left;
}

#barraAcessibilidade a {
	color: #ffffff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	padding-right: 1em;
}

#barraAcessibilidade ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#barraAcessibilidade ul li {
	display: inline;
}

#titulo {
	float: left;
	padding-left: 1em;
	text-align: left;
}

#titulo a {
	color: #ffffff;
}

#titulo a:hover {
	text-decoration: none;
}

#portalbusca {
	padding-right: 1em;
}

#busca {
	border-width: thin;
	border-color: #BBBBBB;
	border-radius: 4px;
	padding: 0.4em;
}
#portalbusca form .buscar {
	border-radius: 4px;
	padding: 0.4em;
	border-style: none;
}

#menubar {
	float: left;
	width: 100%;
	background-color: #0f4098;
	text-align: center;
}

#menubar a {
	color: #ffffff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menubar ul {
	padding: 0.5em;
	list-style: none;
}

#menubar ul li {
	display: inline;
	padding: 0.6em;
}

#menu {
	float: left;
	text-align: center;
	text-transform: uppercase;
}

#conteudo {
	float: left;
	padding-left: 1em;
}

#rodape {
	float: left;
	width: 100%;
	padding-bottom: 1em;
	padding-top: 1em;
	background-color: #3e67b1;
	color: #ffffff;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo {
	float: left;
	padding-left: 1em;
}

#atendimento {
	font-size:20px;
}

#postos a {
	color: #ffffff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#postos ul {
	padding: 0.5em;
	list-style: none;
}

#postos ul li {
	display: inline;
	padding: 0.6em;
}

#postos li a img {
	vertical-align: middle;
}
